{% extends 'base.html.twig' %}
{%block title%}Products{%endblock%}
{% block body %}

    <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>

    <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <strong class="card-title" v-if="headerText">Category list</strong>
                    </div>
                    
                  <div class="card-body p-0">
                    <table class="table table-hover table-striped table-align-middle mb-0">

                                        <thead>
                                            <tr>    
                                                    <th></th>
                                                    <th>Id</th>
                                                    <th>Product Name</th>
                                                    <th>Description</th>
                                                    <th>Price</th>
                                                    <th>Category Name</th>
                                                    <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for product in products %}
                                            <tr> 
                                                <td><img src="{{asset('')}}{{product.image}}" alt="{{product.libelle}} image"></td>

                                               <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td class="status--process">{{ product.libelle }}</td>
                <td>{{ product.texte|raw }}</td>
                 <td class="status--denied">{{ product.prix}} DT</td>
                <td>{{ product.categorie}}</td>
                 <td>
                                       <div class="table-data-feature">
                                                  <a  href="{{ path('admin_product_show', { 'id': product.id }) }}" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Show">
                                                        <i class="zmdi zmdi-mail-send"></i>
                                                    </a>  
                                                    <a  href="{{ path('admin_product_edit', { 'id': product.id }) }}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </a>
          
                                                    
                                                </div>

                </td>
                                            </tr>
                                       {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->
                                 </div>
                                 <a href="{{ path('admin_product_new') }}" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i>add Product</a>
                           
                        </div>
                     
                   
                  
   
    
{% endblock %}
