{% extends 'base.html.twig' %}
{%block title%}Avis{%endblock%}
{% block body %}
    <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>

    <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <strong class="card-title" v-if="headerText">Category list</strong>
                    </div>
                    
                  <div class="card-body p-0">
                    <table class="table table-hover table-striped table-align-middle mb-0">

             <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Nomclt</th>
                <th>Ville</th>
                 <th>Texte</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td><img src="{{asset('')}}{{avi.image}}" alt="{{avi.nomclt}} image"></td>
                <td><a href="{{ path('avis_show', { 'id': avi.id }) }}">{{ avi.id }}</a></td>
                <td>{{ avi.nomclt }}</td>
                <td>{{ avi.ville }}</td>
                <td>{{ avi.texte|raw }}</td>
                
                <td>
                

                <div class="table-data-feature">
                  <a  href="{{ path('avis_show', { 'id': avi.id }) }}" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Show">
                <i class="zmdi zmdi-mail-send"></i>
                  </a>  
                   <a  href="{{ path('avis_edit', { 'id': avi.id }) }}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                   <i class="zmdi zmdi-edit"></i>
                   </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
                                  </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->
                                 </div>
                                   <a href="{{ path('admin_home') }}" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                      Back</a>
                           
                        </div>
{% endblock %}
